/* Generic */
*,
*:hover,
*:focus,
*:active {
  cursor: none;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  overflow: hidden;
  font-size: 16px;
  cursor: none;
}

.hidden {
  display: none;
}

/* Main container w/ background */

.main_block {
  transition: background-color 2s;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background: #1e6aa8;
  background: -moz-linear-gradient(
    top,
    #1e6aa8 9%,
    #2989d8 53%,
    #b2852c 64%,
    #94d372 100%
  );
  background: -webkit-linear-gradient(
    top,
    #1e6aa8 9%,
    #2989d8 53%,
    #b2852c 64%,
    #94d372 100%
  );
  background: linear-gradient(
    to bottom,
    #1e6aa8 9%,
    #2989d8 53%,
    #b2852c 64%,
    #94d372 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e6aa8', endColorstr='#94d372',GradientType=0 );
}

/* OTHER PLAYER AVATAR */

.player_container_block {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
}

.player_block {
  background-image: url("player.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 18vw;
  height: 41vh;
  position: fixed;
  bottom: 24vh;
  left: 12vw;
}

/* FENCE DISPLAY */

.fence_container_block {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
}

.fence_block {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url("fence.png");
  background-repeat: repeat;
  background-size: 200px;
}

/* CROSS HAIR */

.crosshair_container_block {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 4;
}

.crosshair_block {
  width: 3vw;
  height: 3vw;
  border: solid 5px #0f0;
  border-radius: 50%;
  position: absolute;
}

/* POPOUT AREA */

.popout_container_block {
  width: 25vw;
  height: 40vh;
  position: fixed;
  z-index: 5;
  right: 2vw;
  top: 2vw;
}

/* TIMER */

.timer_container_block {
  width: 100%;
  background-color: #e0224e;
  border-radius: 7px;
  padding: 0.8vw;
  border: 3px solid #111;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.timer_number_block {
  font-size: 3rem;
  font-weight: bold;
  background-color: white;
  border-radius: 4px;
  border: 2px solid #bbb;
  padding: 0.2rem 0.3rem;
  font-family: monospace;
  text-align: right;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}

.timer_text_block {
  font-size: 1.5rem;
  font-family: monospace;
  text-align: right;
  font-weight: bold;
}

/* COMMANDER */

.commander_container_block {
  width: 100%;
  background-color: #232323;
  border-radius: 7px;
  padding: 0.8vw;
  border: 3px solid #111;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.commander_avatar_block {
  width: 100%;
  background-color: red;
  margin-bottom: 1.5vh;
  border: 2px solid;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.commander-avatar-head-block {
  width: 20vw;
  height: 15vw;
  background-image: url(commander-head.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.commander-avatar-mouth-block {
  width: 8vw;
  padding-bottom: 28%;
  height: 0;
  bottom: -1vw;
  left: 50%;
  box-sizing: border-box;
  margin-left: -3.2vw;
  position: absolute;
  background-color: black;
}

.commander-avatar-mouth-block:after {
  content: "";
  position: absolute;
  background-image: url(commander-mouth.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  animation-name: mouth;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes mouth {
  from {
    top: 0%;
  }
  to {
    top: 50%;
  }
}

.commander_text_block {
  background-color: #eee;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  border: 2px solid;
  box-sizing: border-box;
  text-transform: capitalize;
}

/* TEXT INPUT */

.text_input_container_block {
  width: 100vw;
  height: 14vh;
  position: fixed;
  z-index: 6;
  bottom: 5vw;
  display: flex;
  padding: 0 20vw;
  justify-content: center;
  box-sizing: border-box;
}

.text_input_block {
  width: 100%;
  border: 2px solid #000;
  border-radius: 7px;
  padding: 0.3rem 0.5rem 1.2rem;
  font-size: 1.5rem;
}

.text_input_note_block {
  position: absolute;
  right: 23vw;
  bottom: 5px;
  font-size: 1rem;
  font-family: sans-serif;
  color: #333;
}

/* Person speaking bubble */

.person_speak_container_block {
  position: fixed;
  z-index: 7;
  bottom: 25vw;
  top: 5vh;
  left: 30vw;
  right: 30vw;
  height: 70vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person_speak_block {
  background-color: white;
  border: 3px solid;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5rem 0.7rem;
  font-size: 1.5rem;
  line-height: 1.2;
  min-height: 6vw;
}

.person_speak_block:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: white;
  width: 3vw;
  height: 3vw;
  transform: rotate(45deg);
  left: -1.5vw;
  box-sizing: border-box;
  border: 3px solid;
  top: 50%;
  margin-top: -1.5vw;
}

/* thought bubble */
.thought_bubble_container_block {
  position: fixed;
  z-index: 8;
  height: 28vh;
  width: 28vw;
  top: 2vh;
  left: 2vw;
}

.thought_bubble_block {
  width: 100%;
  background-color: #a1f4f9;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  font-family: sans-serif;
}

/* Happy end game state */

body.happy_end .fence_container_block,
body.happy_end .popout_container_block,
body.happy_end .crosshair_container_block,
body.happy_end .thought_bubble_container_block {
  opacity: 0;
  transition: opacity 2s;
}

body.happy_end .player_block {
  background-image: url("flower.png");
  width: 22vw;
  height: 41vh;
  position: fixed;
  bottom: 24vh;
  left: 8vw;
  transition: background-image width left 2s;
}

/* Sad end game state */
body.sad_end .popout_container_block,
body.sad_end .text_input_container_block,
body.sad_end .person_speak_container_block,
body.sad_end .player_container_block {
  opacity: 0;
  transition: opacity 2s;
}

body.sad_end .thought_bubble_block {
  background-color: #b93737;
  transition: background-color 2s;
}

body.sad_end .main_block {
  background: #1c0726;
  background: -moz-linear-gradient(
    top,
    #1c0726 0%,
    #0f0502 47%,
    #c41f1f 53%,
    #2a152b 100%
  );
  background: -webkit-linear-gradient(
    top,
    #1c0726 0%,
    #0f0502 47%,
    #c41f1f 53%,
    #2a152b 100%
  );
  background: linear-gradient(
    to bottom,
    #1c0726 0%,
    #0f0502 47%,
    #c41f1f 53%,
    #2a152b 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c0726', endColorstr='#2a152b',GradientType=0 );
}

.audio_block {
  position: absolute;
  z-index: -1;
  left: -9999px;
  top: -9999px;
}
